In [190]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [191]:
energy_df = pd.read_csv('./energydata_complete.csv')

In [192]:
energy_df.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [193]:
#remove date and lights columns
energy_df = energy_df.drop(columns=['date', 'lights'])
energy_df.head()

,Appliances,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,60,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,45.566667,17.166667,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,60,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,45.992500,17.166667,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,50,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,45.890000,17.166667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,50,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,45.723333,17.166667,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,60,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,45.530000,17.200000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [194]:
#normalise the dataset using the MinMaxScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn.linear_model import LinearRegression
scaler = MinMaxScaler()
normalised_df = pd.DataFrame(scaler.fit_transform(energy_df), columns=energy_df.columns)
features_df = normalised_df.drop(columns=['Appliances', 'T1', 'RH_1', 'RH_2', 'T3', 'RH_3', 'T4', 'RH_4', 'T5', 'RH_5', 'T6', 'RH_6', 'T7', 'RH_7', 'T8', 'RH_8', 'T9', 'RH_9', 'T_out', 'Press_mm_hg', 'RH_out', 'Windspeed', 'Visibility', 'Tdewpoint', 'rv1', 'rv2'])
target_var = normalised_df['T6']

In [195]:
# split the data set
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(features_df, target_var, test_size=0.3, random_state=42)

In [196]:
# run a multiple linear regression using the training set and evaluate your model on the test set
model = LinearRegression()

In [197]:
# fit the model to the training dataset
model.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [198]:
# obtain predictions
predicted_values = model.predict(x_test)

In [199]:
#12. R-Squared
from sklearn.metrics import r2_score
r2_score = r2_score(y_test, predicted_values)
round(r2_score, 2)

0.64

In [200]:
#normalise the dataset using the MinMaxScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn.linear_model import LinearRegression
scaler = MinMaxScaler()
normalised_df = pd.DataFrame(scaler.fit_transform(energy_df), columns=energy_df.columns)
features_df = normalised_df.drop(columns=['T6'])
target_var = normalised_df['T6']

In [201]:
#split the data set
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(features_df, target_var, test_size=0.3, random_state=42)

In [202]:
linear_model = LinearRegression()

In [203]:
linear_model.fit(X_train, Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [204]:
predicted_values = linear_model.predict(X_test)

In [205]:
#13. MAE
from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error(Y_test, predicted_values)
round(mae, 2)

0.02

In [206]:
#14. RSS
rss = np.sum(np.square(Y_test - predicted_values))
round(rss, 2)

5.67

In [207]:
#15. RMSE
from sklearn.metrics import mean_squared_error
rmse = np.sqrt(mean_squared_error(Y_test, predicted_values))
round(rmse, 3)

0.031

In [208]:
#16. R-Squared
from sklearn.metrics import r2_score
r2_score = r2_score(Y_test, predicted_values)
round(r2_score, 2)

0.97

In [209]:
#17
importance = linear_model.coef_

In [210]:
for i,v in enumerate(importance):
    print('Feature: %0d, Score: %.5f' % (i,v))

Feature: 0, Score: 0.02759
Feature: 1, Score: -0.20026
Feature: 2, Score: -0.03290
Feature: 3, Score: 0.32244
Feature: 4, Score: 0.10268
Feature: 5, Score: 0.01944
Feature: 6, Score: -0.07693
Feature: 7, Score: -0.02390
Feature: 8, Score: 0.03514
Feature: 9, Score: -0.06869
Feature: 10, Score: -0.00375
Feature: 11, Score: -0.09575
Feature: 12, Score: -0.04296
Feature: 13, Score: 0.00986
Feature: 14, Score: -0.03898
Feature: 15, Score: -0.04427
Feature: 16, Score: 0.08084
Feature: 17, Score: 0.01500
Feature: 18, Score: 1.00319
Feature: 19, Score: -0.01961
Feature: 20, Score: 0.14385
Feature: 21, Score: -0.00103
Feature: 22, Score: -0.00089
Feature: 23, Score: -0.09277
Feature: 24, Score: -0.00022
Feature: 25, Score: -0.00022

In [211]:
from sklearn.linear_model import Ridge
ridge_reg = Ridge(alpha=0.4)  #the higher the alpha value, the more restriction on the coefficients. 
#With low alpha, you get more generalizations..coefficients are barely restricted and linear and ridge regression resembles
ridge_reg.fit(X_train, Y_train)

Ridge(alpha=0.4, copy_X=True, fit_intercept=True, max_iter=None,
      normalize=False, random_state=None, solver='auto', tol=0.001)

In [212]:
#18. RMSE
from sklearn.metrics import mean_squared_error
rmse = np.sqrt(mean_squared_error(Y_test, predicted_values))
round(rmse, 3)

0.031

In [213]:
from sklearn.linear_model import Lasso
lasso_reg = Lasso(alpha=0.001)
lasso_reg.fit(X_train, Y_train)

Lasso(alpha=0.001, copy_X=True, fit_intercept=True, max_iter=1000,
      normalize=False, positive=False, precompute=False, random_state=None,
      selection='cyclic', tol=0.0001, warm_start=False)

In [214]:
#Comparing the effects of regularization
def get_weights_df(model, feat, col_name):
    #this function returns the weight of every feature
    weights = pd.Series(model.coef_, feat.columns).sort_values()
    weights_df = pd.DataFrame(weights).reset_index()
    weights_df.columns = ['Features', col_name]
    weights_df[col_name].round(3)
    return weights_df

linear_model_weights = get_weights_df(linear_model, X_train, 'Linear_Model_Weight')
ridge_weights_df = get_weights_df(ridge_reg, X_train, 'Ridge_Weight')
lasso_weights_df = get_weights_df(lasso_reg, X_train, 'Lasso_weight')

final_weights = pd.merge(linear_model_weights, ridge_weights_df, on='Features')
final_weights = pd.merge(final_weights, lasso_weights_df, on='Features')

In [215]:
final_weights

       Features  Linear_Model_Weight  Ridge_Weight  Lasso_weight
0            T1            -0.200259     -0.191996     -0.000000
1          RH_6            -0.095752     -0.093393     -0.056267
2     Tdewpoint            -0.092771     -0.008467      0.039489
3          RH_3            -0.076931     -0.075159      0.000000
4            T5            -0.068688     -0.064520     -0.000000
5          RH_8            -0.044272     -0.042570      0.000000
6            T7            -0.042958     -0.042810     -0.000000
7            T8            -0.038978     -0.041319     -0.000994
8          RH_1            -0.032903     -0.025074      0.000000
9            T4            -0.023896     -0.024302     -0.000000
10  Press_mm_hg            -0.019606     -0.020496     -0.000000
11         RH_5            -0.003751     -0.004748     -0.000000
12    Windspeed            -0.001034     -0.003581      0.000000
13   Visibility            -0.000892     -0.000379     -0.000000
14          rv2            -0.000224     -0.000207     -0.000000
15          rv1            -0.000224     -0.000207     -0.000000
16         RH_7             0.009865      0.009532      0.000000
17         RH_9             0.015003      0.016420      0.000000
18           T3             0.019442      0.019122     -0.000000
19   Appliances             0.027594      0.026841      0.000000
20         RH_4             0.035136      0.035526      0.000000
21           T9             0.080841      0.081655     -0.000000
22         RH_2             0.102678      0.080711     -0.000000
23       RH_out             0.143846      0.084649     -0.000000
24           T2             0.322437      0.309402      0.044727
25        T_out             1.003190      0.892755      0.842836